@value makerWhite,makerGreen,makerLightPink from '../../common/colors.css';

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 30em;
	background-color: makerWhite;
}

.list {
	width: 100%;
	list-style: none;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
}

.item {
	margin-bottom: 0.5rem;
}

.button {
	background-color: transparent;
	outline: 0;
	padding: 0.3rem;
	width: 100%;
	margin-bottom: 0.2rem;
	border-radius: 1.2rem;
	font-size: 1.2rem;
	border: 0.2rem solid makerGreen;
	height: 2.5em;
}

.button:hover {
	cursor: pointer;
	background-color: makerLightPink;
}
